# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.*.local

# Database
prisma/*.db
prisma/*.db-journal
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# OS
.DS_Store

# IDE
.vscode/
.idea/
